<!DOCTYPE html>
<html lang="en">
<head>
    <meta data-th-replace="Templates :: meta">
    <link data-th-replace="Templates :: link">
    <title>PhysicalMachineUpdate</title>
</head>
<body>
<nav class="container mt-1" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Slash</a></li>
        <li class="breadcrumb-item active"><a href="/PhysicalMachine">PhysicalMachine</a></li>
        <li class="breadcrumb-item active" aria-current="page">PhysicalMachineUpdate</li>
    </ol>
</nav>
<form class="container mt-1" align="center" method="post" data-th-if="${physicalMachine}"
      data-th-action="'/PhysicalMachine/Update/'+${physicalMachine.id}">
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>ID</label>
            <input type="text" readonly class="form-control" data-th-id="${physicalMachine.id}" placeholder="ID"
                   name="id" data-th-value="${physicalMachine.id}">
        </div>
        <div class="form-group col-md-3">
            <label>COMPUTER NAME</label>
            <input type="text" class="form-control" placeholder="COMPUTER NAME"
                   name="computerName" data-th-value="${physicalMachine.computerName}">
        </div>
        <div class="form-group col-md-3">
            <label>STATUS</label>
            <select class="form-control" name="status">
                <option data-th-selected="${physicalMachine.status=='已开机'}">已开机</option>
                <option data-th-selected="${physicalMachine.status=='已关机'}">已关机</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>MAC</label>
            <input type="text" class="form-control" placeholder="MAC" name="mac"
                   data-th-value="${physicalMachine.mac}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>IP</label>
            <input type="text" class="form-control" placeholder="IP"
                   name="ip" data-th-value="${physicalMachine.ip}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-2">
            <label>USERNAME</label>
            <input type="text" class="form-control" placeholder="USERNAME" name="username"
                   data-th-value="${physicalMachine.username}">
        </div>
        <div class="form-group col-md-2">
            <label>PASSWORD</label>
            <input type="text" class="form-control" placeholder="PASSWORD" name="password"
                   data-th-value="${physicalMachine.password}">
        </div>
        <div class="form-group col-md-2">
            <label>OPERATING SYSTEM</label>
            <select class="form-control" name="operatingSystem">
                <option data-th-selected="${physicalMachine.operatingSystem}=='Linux(L)'">Linux(L)</option>
                <option data-th-selected="${physicalMachine.operatingSystem}=='Windows(W)'">Windows(W)</option>
                <option data-th-selected="${physicalMachine.operatingSystem}=='其他'">其他</option>
            </select>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-3">
            <label>MTIME</label>
            <input type="date" class="form-control" readonly placeholder="MTIME" name="mtime"
                   data-th-value="${physicalMachine.mtime}">
        </div>
        <div class="form-group col-md-3">
            <label>MAINTENANCE PERSONNEL</label>
            <input type="text" class="form-control" placeholder="MAINTENANCE PERSONNEL" name="maintenancePersonnel"
                   data-th-value="${physicalMachine.maintenancePersonnel}">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label>DESCRIPTION</label>
            <input type="text" class="form-control" placeholder="DESCRIPTION" name="description"
                   data-th-value="${physicalMachine.description}">
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-sm">提交</button>
</form>
<div class="container">
    <!-- 增加 -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#insert">增加巡检记录</button>
    <button class="btn btn-danger" data-th-text="${message}" data-th-if="${message}" disabled
            id="message"></button>
    <!-- 增加modal -->
    <div class="modal fade" id="insert" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">巡检记录</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="container-fluid mt-1" align="center" method="post"
                          data-th-action="'/saveInspectionByPhysicalMachineId/'+${physicalMachine.id}">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label>巡检日期</label>
                                <input type="date" class="form-control" name="xjrq"
                                       placeholder="巡检日期">
                            </div>
                            <div class="form-group col-md-6">
                                <label>巡检人员</label>
                                <input type="text" class="form-control" name="xjry" placeholder="巡检人员">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>巡检内容</label>
                                <input type="text" class="form-control" name="xjnr" placeholder="巡检内容">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <label>巡检结果</label>
                                <input type="text" class="form-control" name="xjjg" placeholder="巡检结果">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-10"></div>
                            <div class="form-group col-md-1">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                            </div>
                            <div class="form-group col-md-1">
                                <button type="submit" class="form-control btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
<div class="container w-75 p-3">
    <table class="table table-striped table-bordered table-hover table-sm" data-th-if="${inspection}">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">巡检日期</th>
            <th scope="col">巡检人员</th>
            <th scope="col">巡检内容</th>
            <th scope="col">巡检结果</th>
            <th scope="col">物理机ID</th>
            <th hidden scope="col">虚拟机ID</th>
            <th hidden scope="col">DELETE</th>
            <th hidden scope="col">MODIFY</th>
        </tr>
        </thead>
        <tbody>
        <tr data-th-each="i : ${inspection}">
            <td><a class="btn btn-success btn-sm" data-th-text="${i.id}" role="button"></a></td>
            <td data-th-text="${i.xjrq}"></td>
            <td data-th-text="${i.xjry}"></td>
            <td data-th-text="${i.xjnr}"></td>
            <td data-th-text="${i.xjjg}"></td>
            <td data-th-text="${i.physicalMachineId}"></td>
            <td hidden data-th-text="${i.virtualMachineId}"></td>
            <td hidden>
                <a class="btn btn-danger btn-sm" data-th-href="'/Inspection/Delete/'+${i.id}"
                   role="button" id="delete">删除</a>
            </td>
            <td hidden>
                <a class="btn btn-primary btn-sm" data-th-href="'/Inspection/Select/'+${i.id}"
                   role="button">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script data-th-replace="Templates :: script"></script>
</body>
</html>