<!DOCTYPE html>
<html lang="en">
<head>
    <meta data-th-replace="Templates :: meta">
    <link data-th-replace="Templates :: link">
    <!-- Seniverse -->
    <script data-th-replace="SeniverseFDQP :: script"></script>
    <title>Slash</title>
</head>
<body>
<div data-th-replace="Navbar :: nav"></div>
<div class="container-fluid mt-1" align="center">
    <a class="btn btn-primary btn-lg" href="PhysicalMachine">PhysicalMachine</a>
    <a class="btn btn-primary btn-lg" href="VirtualMachine">VirtualMachine</a>
    <form class="container mt-1" method="get" action="/Select">
        <div class="form-row">
            <div class="form-group col-md-5">
                <input type="text" class="form-control" name="mac" placeholder="MAC" data-th-value="${mac}">
            </div>
            <div class="form-group col-md-5">
                <input type="text" class="form-control" name="ip" placeholder="IP" data-th-value="${ip}">
            </div>
            <div class="form-group col-md-1">
                <button type="submit" class="form-control btn btn-primary">查询</button>
            </div>
        </div>
    </form>
    <table data-th-replace="PhysicalMachine :: table"></table>
    <table data-th-replace="VirtualMachine :: table"></table>
</div>
<script data-th-replace="Templates :: script"></script>
<!-- Seniverse -->
<script data-th-replace="SeniverseGDJJ :: script"></script>
</body>
</html>