<!DOCTYPE html>
<html lang="en">
<head>
    <meta data-th-replace="Templates :: meta">
    <link data-th-replace="Templates :: link">
    <title>User</title>
</head>
<body>
<div class="container w-25 p-3 text-center">
    <form action="/User" method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" name="username" aria-describedby="emailHelp"
                   placeholder="Username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<script data-th-replace="Templates :: script"></script>
</body>
</html>